<div class="card-header">
</div>
<div class="row g-0 bg-light position-relative p-5">
    <div class="col-md-6 mb-md-0 p-md-4 boxLogo d-flex justify-content-center">
        <img [src]="logo" class="logo" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Mentha Ecos</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum aliquam unde illum architecto praesentium error dolore at dicta tenetur odit. Numquam amet, enim porro quos eaque voluptatibus? Quaerat, corrupti velit?</p>
        <!-- <a href="#" class="stretched-link">Go somewhere</a> -->
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Contactar</a>
    </div>
</div>

<div class="container">

</div>