<!-- Footer -->
<footer class="bg-info text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Form -->
        <section class="">
            <h5>Deseas mas informacion?</h5>
            <small>Dejanos tus datos y uno de nuestros asesores te contactara.</small>
            <form (ngSubmit)="subscribe()">
                <div class="row g-3">
                    <div class="col">
                        <span>Nombre</span>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" required="">
                    </div>
                    <div class="col">
                        <span>Telefono</span>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" placeholder="Telefono" name="subscribe" [(ngModel)]="nuevo.numero" required="">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </section>
        <!-- Section: Form-->
        <hr>

        <!-- Section: Text -->
        <section class=" mb-4 ">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
        © 2022 Copyright:
        <a class="text-white " [href]="[ ''] ">Mentha Ecos</a>
    </div>

    <!-- Copyright -->
</footer>
<!-- Footer -->